# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
.vscode
_build/*
!_build/LICENSE
!_build/README.md
!_build/coldsteel.icns
!_build/geany
!_build/help
_build/help/*.html
!_build/examples
!_build/Info.plist
!_build/media
_build/examples/*.build
_CMAKE
doc_out
TDM-GCC-32
src/internal/get_sdk_impl.h
src/lua_wrapper.cc
!upx.exe
