.DS_Store
.vscode
_build/*
!_build/LICENSE
!_build/README.md
!_build/coldsteel.html
!_build/coldsteel.icns
!_build/csrun*
!_build/csserve*
!_build/geany
!_build/examples
!_build/Info.plist
!_build/media
_build/examples/*.build
_CMAKE
src/lua_wrapper.cpp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
# *.a
*.lib

# Executables
*.exe
*.out
*.app

# Exceptions
!_build/csluac.exe
!_build/Irrlicht.dll
!_build/OpenAL32.dll
!lib/openal/OpenAL32.lib
!upx.exe
